<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Meetup Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="address">
                    <h4>Our Address</h4>
                    <h6>3400 N. Charles Street <br/>
                        Baltimore, MD 21218, USA</h6>
                    <h6>Call : 626 466 5656</h6>
                    <h6>Email : euong@jhu.edu</h6>
                </div>
                <div class="timing">
                    <h4>Timing</h4>
                    <h6>Mon - Fri: 7am - 10pm</h6>
                    <h6>​​Saturday: 8am - 10pm</h6>
                    <h6>​Sunday: 8am - 11pm</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="navigation">
                    <h4>Navigation</h4>
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/about}">About Us</a></li>
                        <li><a th:href="@{/shop}">Shop</a></li>
                    </ul>
                </div>
                <div class="navigation">
                    <h4>Help</h4>
                    <ul>
                        <li><a th:href="@{/termsConditions}">Terms and Conditions</a></li>
                        <li><a th:href="@{/return}">Shipping & Returns</a></li>
                        <li><a th:href="@{/faq}">FAQ’s</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form">
                    <h3>Contact Us</h3>
                    <h6>We are now offering some good discount. Reach out to us for more information!</h6>
                    <form onSubmit="return processContactForm(event)">
                        <div class="row">
                            <div class="col-md-6">
                                <input placeholder="Name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-12">
                                <textarea placeholder="Message" required></textarea>
                            </div>
                            <h6 class="col-md-12" style="display:none;color:red" id="contact-confirmation">Thank you!
                                We'll be in touch.</h6>
                            <div class="col-md-12">
                                <button class="btn black">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>(C) 2020. All Rights Reserved</h5>
                </div>
            </div>
        </div>
    </div>
</footer>

<div th:fragment="body-bottom-scripts">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</div>

</body>

</html>