<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="fragments :: common-header"/>

<body>
<header th:replace="fragments :: navbar"/>

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" th:href="@{/}">Home</a>
        <span class="breadcrumb-item active">Login</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>My Account / Login</h1>
        <p>BookSmart is your one stop shopping website. To proceed, please log in or create an account.</p>
        <div style="color: red;">
            <p th:if="${emailSent}">* An email has been sent to the email address you just registered.</p>
            <p th:if="${param.error != null}">Incorrect username or password.</p>
        </div>
        <div class="form">
            <form th:action="@{/login}" method="post">
                <div class="row">
                    <div class="col-md-5">
                        <input name="username" placeholder="Enter Username" required>
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-5">
                        <input type="password" name="password" placeholder="Enter Password" required>
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <button type="submit" class="btn black">Log in</button>
                        <h5>Not Registered? <a th:href="@{/register}">Register here</a></h5>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div th:replace="fragments :: footer"/>

<div th:replace="fragments :: body-bottom-scripts"/>

</body>

</html>