<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="fragments :: common-header"/>

<body>

<header th:replace="fragments :: navbar"/>

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" th:href="@{/}">Home</a>
        <span class="breadcrumb-item active">Shopping Cart</span>
    </div>
</div>

<section class="static about-sec">
    <div class="container">
        <div class="row">
            <div class="col-12" th:if="${isEmpty}">
                <h2>Your cart is empty!</h2>
            </div>
            <div class="col-12" th:if="${!isEmpty}">
                <div class="row">
                    <div class="col-6 text-left">
                        <h2 th:text="'Hello, ' + ${#strings.toUpperCase(username)}"></h2>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-warning" th:href="@{/shop}">Continue Shopping</a>
                        <a class="btn btn-primary" th:href="@{/checkout(id=${cart.id})}">CheckOut</a>
                    </div>
                </div>
                <div style="margin-top:30px;">
                    <div class="row">
                        <div class="col-8">
                            <h6 style="margin-left: 70px;">Products</h6>
                        </div>
                        <div class="col-2">
                            <h6>Price</h6>
                        </div>
                        <div class="col-2">
                            <h6>Quantity</h6>
                        </div>
                    </div>
                    <div th:each="cartItem : ${cartItemList}">
                        <form th:action="@{/shoppingCart/updateCartItem}">
                            <hr/>
                            <div class="form-row">
                                <div class="form-group col-2">
                                    <a th:href="@{book(id=${cartItem.book.id})}">
                                        <img class="img-fluid" th:src="@{/images/book}+${cartItem.book.id}+'.jpg'"/>
                                    </a>
                                </div>

                                <div class="form-group col-6">
                                    <div style="margin-left: 50px;">
                                        <a th:href="@{/book?id=}+${cartItem.book.id}">
                                            <h3 th:text="${cartItem.book.title}"></h3>
                                        </a>
                                        <a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">Delete</a>
                                    </div>
                                </div>

                                <div class="form-group col-2">
                                    <h5 style="color: #db3208; font-size: large;">$<span
                                            th:text="${cartItem.book.ourPrice}"></span></h5>
                                </div>

                                <div class="form-group col-2">
                                    <input hidden="hidden" name="id" th:value="${cartItem.id}"/>
                                    <div style="display:flex">
                                        <input th:name="quantity" class="form-control cartItemQty"
                                               th:value="${cartItem.quantity}"/>
                                        <button type="submit" class="btn-warning btn-xs">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <hr/>

                    <div class="row">
                        <h4 class="col-12 text-right">
                            <strong style="font-size: large;">Total Price (<span
                                    th:text="${#lists.size(cartItemList)}"></span> items): </strong>
                            <span style="color: #db3208; font-size: large;">$<span th:text="${cart.grandTotal}"></span></span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments :: footer"/>

<div th:replace="fragments :: body-bottom-scripts"/>

</body>

</html>